@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

html {
    scroll-behavior: smooth;
    @apply scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200
}

body {
    color: var(--foreground);
    background: var(--background);
    @apply uppercase
}

section {
    @apply p-6 border-2 border-black rounded-3xl py-28
}

section:first-of-type {
    @apply mt-4
}

section:last-of-type {
    @apply mb-4
}

.button {
    @apply px-8 py-2 rounded-full active:bg-green-700 active:text-white hover:bg-green-700/70 hover:text-white transition-all duration-100;
}

.black-button {
    @apply bg-black text-white
}

.white-button {
    @apply bg-white text-black
}

.green-text{
    @apply text-green-700 font-bold
}

.scrolling-text-animation {
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(-110%);
    }
}

.cursor-pointer::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 8px;
    height: 100%;
    background-color: black;
    animation: blink 1.5s steps(1) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

